.toolprofile {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.toolprofile--btn-container {
    display: flex;
    margin-bottom: 2rem;
}

.toolprofile--broken-form, .toolprofile--booking-form, .toolprofile {
    margin: 0 auto;
    width: 90%;
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    border: 1px white solid;
}

.toolprofile--broken-form, .toolprofile--booking-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.toolprofile--booking--container h2, .toolprofile--booking--container p {
    margin-top: 4rem;
}

#toolprofile--broken-container h2, #toolprofile--broken-container p {
    margin-top: 4rem;
} 

/* .tool--profile--edit {
    justify-content: center;
    flex-direction: column;
    justify-content: center;
} */

.tool--image--img {
    display: flex;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.span--bold {
    font-weight: bold;
}

#report {
    width: 20rem;
    height: 5rem;
} 

.admin--btn {
    display: none;
}

.user--btn {
    display: block;
}

.toolprofile--showEditTool, .tool--profile--edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}

.toolprofile--hideEditTool {
    display: none;
}

.hide {
    display: none;
}