.userprofile {
    padding: 2rem 4rem;
}

.userprofile--btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.userprofile--name-and-info {
    margin-bottom: 2rem;
    border: 2px solid rgb(245, 245, 245);
    padding: 2rem;
}

.userprofile--courses {
    padding: 2rem;
}

.userprofile--courses li {
    display: flex;
    justify-content: center;
}

.userprofile--bookings {
    /* background-color: rgb(245, 245, 245); */
    border: 2px solid rgb(245, 245, 245);
    padding: 2rem;
}

.userprofile--showEditTool, .user--profile--edit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}

.userprofile--hideEditTool {
    display: none;
}