@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
    margin: 0;

    font-family: 'open sans', sans-serif;
}

body {
    font-size: 1.3rem;
}