.section {
  background: linear-gradient(to bottom, #87b5e7 450px, #fff 150px);
  margin: 0;
  width: 100%;
  height: 100%;
}

.adminpage--intro {
  padding-top: 5rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.adminpage--header {
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 4rem;
  width: 80%;
  line-height: 4rem;
  margin: 10rem auto 0rem auto;
}

.needsattention {
  background-color: #e78787;
}

.adminpage--reports--toolinfo {
  margin: 0 auto;
  color: black;
  font-weight: bold;
}

.adminpage--reports--toolinfo--span {
  font-weight: normal;
}

.adminpage--users,
.adminpage--users a {
  padding: 3rem;
  width: 50%;
  margin: 0 auto;
}

.adminpage--users {
  width: 100%;
}

.adminpage--user,
.adminpage--tool {
  padding-top: 2rem;
}

.adminpage--add-users {
  margin-top: 4rem;
  padding: 3rem;
  margin-bottom: 4rem;
  line-height: 4rem;
}

.adminpage--add-users-form {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
  border: rgb(183, 183, 183) solid 2px;
  border-radius: 2rem;
}

.adminpage--tools {
  padding: 3rem;
  width: 80%;
  margin-bottom: 4rem;
  margin: 0 auto;
}

.adminpage--add-tools {
  margin: 4rem;
  line-height: 4rem;
}

.adminpage--add-tools-form {
  padding: 3rem;
  width: 50%;
  margin: 0 auto;
  border: rgb(183, 183, 183) solid 2px;
  border-radius: 2rem;
}

.adminpage--add-tools-form label {
  margin: 0;
}

.adminpage--user,
.adminpage--tool {
  margin: 4rem;
}

.adminpage--reports {
  width: 80%;
  margin: 0 auto;
}

.adminpage--reports--report {
  border: 3px #e78787 solid;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 3rem;
}

.adminpage--reports--report p {
  display: block;
  max-width: 30ch;
  text-align: center;
  margin: 2rem auto;
}

.adminpage--reports--report img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.user {
  background-color: #aecff3;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.2s ease;
}

.user:hover {
  background-color: #d8e7f7;
}

a {
  text-decoration: none;
}

.adminpage--add-users-form,
.adminpage--add-users,
.adminpage--add-tools-form,
.adminpage--add-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adminpage--add-users-form label,
.adminpage--add-tools-form label {
  margin: 0 auto;
}
