.background  {
    background-color: #fff;
    overflow-y: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}


.section--login--container {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    width: 70%;
    margin: 0 auto;
}
.section--login--form, .section--register--form {
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    /* box-shadow: 10px 3px 2px rgba(0,0,0,0.5); */
    border: 3px solid #f8f8f8;
    margin-bottom: 20px;
    padding: 3rem;
    overflow: visible;
}


input, label {
    margin: 1rem auto;
    display: block;
    justify-content: center;
    border-radius: 5px;
}


input {
    width: 20vw;
    height: 1.5rem;
    margin: auto;
}

button {
    font-size: 1rem;
    width: 6rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    border: none;
    background-color: #87b5e7;
    text-align: center;
    vertical-align: 1.5rem;
    border-radius: 5px; 
}

button:hover {
    background-color: #B9D7F5;
}

button:active {
    background-color: rgb(255, 255, 255);
}
